
/* For generic page styles. Not for sliders. */

.appheader img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
.appheader {
font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.appheader h1 {
  font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: 10px;
  left: 10px;
}
.appheader h5 {
  font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: 10px;
  left: 40px;
}
.appcontent {
	margin-top: 50px;
	margin-left:30px;
}

.appdownload {
  margin-top:50px;
  margin-left: 25%;
	
}
img:hover
{
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
}
img
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

